body {
    background: linear-gradient(to left, #ff0066 0%, #000066 100%);
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    height: 100%;
    /*margin-bottom: 40rem;*/
    color: white;
}

html {
    height: 100%;
    /*margin-bottom: 40rem;*/
}

.building-padding{
    padding-bottom: 10em;
}

.scroll-content {
    height: 100%;
}

.item {
    padding-right: 4em;
}

.nav-text-size {
    font-size: 2em;
    font-weight: 800;
    color: white;
}

.bg-navbar-color {
    background: linear-gradient(to top, #ff0066 0%, #000066 100%);
}

.contact-image {
    margin-left: 20em;
}

.home-header {
    background-color: black;
    height: 25rem;
    padding-left: 8em;
    padding-top: 11em;
    color: white;
    /*margin-top: 6em;*/
    border: 7px solid white;
    border-radius: 8px;
}

.campus-header {
    text-decoration: underline;
    line-height: 2em;
    font-size: 2.5em;
}

.header-image {
    margin-left: 13em;
}

.copyright {
    font-size: 0.3em;
    margin-left: 74em;
}

.button-height {
    margin-top: 1em;
}

.btn-color {
    background: linear-gradient(to top right, #ff0066 0%, #000066 100%);
    color: white;
}

.text-edit {
    display: block;
    font-size: 1.5em;
}

footer {
	background-color: black;
	color: white;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	overflow: hidden;
}

.image-space {
    margin-top: 8em;
}

.button-format {
    margin: 0;
    background-color: transparent;
    text-align: center;
    padding: 2em;
}

.button-format-2 {
    margin-top: 1em;

}

.bg-color-1 {
    background: linear-gradient(to top right, #ff0066 0%, #000066 100%);
    color: white;
}

.bg-color-2 {
    background: black;
    color: white;
}

.image-name {
    text-align: center;
    padding: 1.5em;
    background-color: black;
    color: white;
    font-size: 1.4em;
}

.name-fix {
    line-height: 1.26em;
    padding: 0.992em;
}

.fix-margin {
    margin-bottom: 8em;
}

.navbar-fixed-bottom {
    padding: 1em;
}

.contact-info-header-text {
    font-size: 1.2em;
}

.title-section {
    font-size: 2em;
    padding: 4.5em;
    color:white;
    text-align: center;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

::-webkit-scrollbar {
  width: 18px;
  background: white;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #ff0066; 
  /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb {
  background: #000066; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black; 
}

.student-faculty-others {
    border: 6px solid  #000066;
    border-radius: 5px;
    background: white;
    color: black;
    padding: 4em;
    box-shadow: 4px 5px 12px;
}

.student-faculty{
    border: 6px solid #ff0066;
    border-radius: 5px;
    background: white;
    color: black;
    padding: 4em;
    box-shadow: 4px 5px 12px;
}

.title-info{
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

.fix-margin-right{
    text-align: center;
}

.fix-margin-left{
    text-align: center;
}

.schedule-intro{
    line-height: 3.5em;
    margin-top: -4em;
}

.faculty-info{
    display: block;
    font-size: 1.5em;
}

@media screen and (max-width: 320px){
    .fixed-top{
        position: inherit;
    }

    .header-image {
        display: none;
    }

    .copyright{
        display: none;
    }
}

.modal-elements{
    padding-right: 30rem;
    display: block;
}

.fix-margin-bottom-hompage{
    margin-bottom: 20rem;
}