body {
    background-color: #fff3e1;
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
}

.item {
    padding-right: 4em;
}

.nav-text-size {
    font-size: 2em;
    font-weight: 800;
    color: white;
}

.bg-navbar-color {
    background-color: #6495ED;
}

.contact-image {
    margin-left: 20em;
}

.home-header {
    background-color: #FFE4E1;
    height: 27rem;
    padding-left: 8em;
    padding-top: 5em;
    color: black;
}

.campus-header {
    text-decoration: underline;
    line-height: 2em;
}

.header-image {
    margin-left: 13em;
}

.copyright {
    font-size: 0.3em;
    margin-left: 74em;
}

.button-height {
    margin-top: 1em;
}

.btn-color {
    background-color: rgb(204, 0, 0);
    color: white;
}

.text-edit {
    display: block;
    font-size: 1.5em;
}

footer {
	background-color: rgb(204, 0, 0);
	color: white;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	overflow: hidden;
}

.image-space {
    margin-top: 8em;
}

.button-format {
    margin: 0;
    background-color: transparent;
    text-align: center;
    padding: 2em;
    margin-bottom: 9em;
}

.image-name {
    text-align: center;
    padding: 1.5em;
    background-color: red;
    color: white;
    font-size: 1.4em;
}

.name-fix {
    line-height: 1.26em;
    padding: 0.992em;
}