<script>
    $(document).ready(function(){
      $(window).scroll(function() { // check if scroll event happened
        if ($(document).scrollTop() > 70) { // check if user scrolled more than 50 from top of the browser window
          $(".fixed-top").css("background-color", "#000066"); 
          $(".fixed-top").css("color", "#ffffff");
          $(".nav-text-size").css("color", "#ffffff");
          $(".icon-name").css("color", "#ffffff");
          $("#icon-img").attr("src","svg/shimane-japan-flag-symbol.svg");

        } else {
          $(".fixed-top").css("background-color", "transparent"); // if not, change it back to transparent
          $(".fixed-top").css("color", "#000066");
          $(".nav-text-size").css("color", "#000066");
          $(".icon-name").css("color", "#000066");
          $("#icon-img").attr("src","svg/logo-blue.svg")
        }
      });
    });
</script>

</body>
   <footer> 
   <div class="container navbar-fixed-bottom">
   <div class="row">
     <div class="col-md-3 mt-3">
       <span class="contact-info-header-text"><strong>Contact info:</strong></span>
       <p><a href="https://www.google.com/maps/place/Columbus+State+University/@32.5026472,-84.9426193,17z/data=!3m1!4b1!4m5!3m4!1s0x888ccd9630ce75eb:0xa33e54a5ab3b2796!8m2!3d32.5026472!4d-84.9404306" target="_blank">
       <br>4225 University Ave<br>
       Columbus, GA 31907</a><br>
       <a href="tel:7065078203">(706)507-8203</a>
        </p>
    </div>
    </div>

    </footer>
</html>
</html>