body {
    background: white;

    font-family: 'Caladea', serif;

    /*height: 100%;*/
    /*margin-bottom: 40rem;*/
    color: black;
}

.brief-intro{
    background-color: #ECF7FF;
    color: #888888;
    padding: 100px 0 100px 0;
    /*margin-top: 10em;*/
}

.take-away-margin{
    margin-right: 0 !important;
}

.brief-info {
    display: flex;
    align-items: center;
    justify-content: left;
    line-height: 13em;
}

.img-center{
    display: block;
}

html {
    /*height: 100%;*/
    /*margin-bottom: 40rem;*/
    overflow-x: unset;
}

.building-padding{
    padding-bottom: 10em;
}

.scroll-content {
    height: 100%;
}

.item {
    padding-right: 3em;
}

.nav-text-size {
    font-size: 2em;
    font-weight: 800;
    color: #000066;
}

.bg-navbar-color {
    background: #d1d4da;
    color: #000066;

}

.contact-image {
    margin-left: 20em;
}

.brand-padding{
    padding-left: 4em;
}

.home-header {
    background: #d1d4da;
    /*background: #fff7ff;*/
    /*height: 25rem;*/
    /*padding-left: 8em;*/
    padding-top: 13em;
    color: #000066;
    /*margin-top: 6em;*/
    /*border: 1px solid white;
    border-radius: 8px;*/
    padding-bottom: 13em;
}

.campus-header {
   /* text-decoration: underline; */
    line-height: 2em;
    /*font-family: Niagara Engraved;*/
    font-size: 5.5em;
}

.cct-button{
    padding: 0.6em;
}

.header-image {
    margin-left: 13em;
}

.copyright {
    font-size: 0.3em;
    margin-left: 74em;
}

.button-height {
    margin-top: 1em;
}

.btn-color {
    /*background: linear-gradient(to top right, #ff0066 0%, #000066 100%);*/
    color: white;
    background: #000066
    font-weight: bolder;
    margin-top: 2em;
}

.text-edit {
    display: block;
    font-size: 1.5em;
    line-height: 1em;
}

footer {
	background-color: #000066;
	color: white;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
	overflow: hidden;
}

.image-space {
    margin-top: 5em;
}

.button-format {
    margin: 0;
    background-color: transparent;
    text-align: center;
    padding: 2em;
}

.button-format-2 {
    margin-top: 1em;

}

.bg-color-1 {
    /*background: linear-gradient(to top right, #ff0066 0%, #000066 100%);*/
    background: #000066;
    color: white;
    padding-right: 3em;
    padding-left: 3em;
    font-size: 1.5em;
}

.bg-color-2 {
    background: #ff0000;
    color: white;
}

.image-name {
    text-align: center;
    padding: 1.5em;
    /*background-color: black;
    color: white;*/
    font-size: 1.4em;
    font-weight:bolder;
}

.name-fix {
    line-height: 1.26em;
    /*padding: 0.992em;*/
    margin-bottom: -1em;
}

.fix-margin {
    margin-bottom: 8em;
}

.navbar-fixed-bottom {
    padding: 1em;
}

.contact-info-header-text {
    font-size: 1.2em;
}

.infoHeader {
    padding-top: 2.5em;
}

.title-section {
    font-size: 2em;
    padding: 4.5em 0 0;
    color: black;
    text-align: center;
    margin-top: 3em;
}
.infoSpace {
    margin-bottom: 7em;
}

::-webkit-scrollbar {
  width: 18px;
  background: white;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px darkblue; 
  /*border-radius: 10px;*/
}

::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: black; 
}

.student-faculty-others {
    border-radius: 5px;
    background: white;
    color: black;
    padding: 4em;
    box-shadow: 4px 5px 12px;
}

.student-faculty{
    border-radius: 5px;
    background: white;
    color: black;
    padding: 4em;
    box-shadow: 4px 5px 12px;
}

.title-info{
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

.fix-margin-right{
    text-align: center;
}

.fix-margin-left{
    text-align: center;
}

.schedule-intro{
    line-height: 3.5em;
    display: block;
    text-align: center;
}

.faculty-info{
    display: block;
    font-size: 1.5em;
}

polygon {
  stroke-width: 1;
  stroke: black;
  fill: transparent;
}
polygon:hover {
  fill: mediumseagreen;
}
.datepicker{ z-index:99999 !important; }
@media screen and (max-width: 320px){
    .fixed-top{
        position: inherit;
    }

    .header-image {
        display: none;
    }

    .copyright{
        display: none;
    }
}

.modal-elements{
    padding-right: 30rem;
    display: block;
}

.fix-margin-bottom-hompage{
    margin-bottom: 20rem;
}

.margin-bottom-floor-page {
    margin-bottom: 20rem;
}

.icon-name {
    vertical-align: -0.3em;
    color: #000066;
    font-size: 1.5em;
    /*text-decoration: underline;*/
    /*font-family: Niagara Engraved;*/
}

.contactForm{
    background-color: #ECF7FF;
    color: black;
    width: 50%;
    border: 5px solid black;
    border-radius: 80px;
    margin-bottom: 13em;
    margin-top: 5em;
    padding: 4em;
    font-weight: bold;
    font-size: 1.2em;
}
.form-group
{
    padding-top: 10px;
}
.form-control
{
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0px;
    
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }

.rounded-images {
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-shadow: 2px 2px 9px 3px;
}

.home-building-header {
    font-size: 1.5em;
}

.home-building-body-text {
    font-size: 0.7em;
}

.building-margin-bottom{
    margin-bottom: 10em;
}

.info-header-size{
    height: 30em;
}

.change-font {
    font-size: 1.5em;
    font-weight: bold;

}
#howardFloors , #elizaFloors, #cctFloors, #recFloors, #davidFloors, #floors {
    color: #ffffff;
}

#fName, #lName, #roomNum, #roomNum2, #date{
    border: 1px solid #000066;
    padding: 0.2em;
    border-radius: 7px;
    margin-right: 1.4em;
}

.res-title{
    font-size: 1.2em;
}

.res-procedure{
    /*padding: 3em;*/
    font-size: 1.1em;
    margin: 4em 0 4em 0;
}

d-block w-fluid{}

h3{
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}

p {
    padding: 5px;
    margin:  4px;
    font-size: 20px;
    display: inline;
}